.container {
    align-items: center;
}

.count-value {
    font-size: 20px;
    font-weight: bold;
}

.btn {
    /* display: flex; */
    align-items: center;
}

/* .btn button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(236, 232, 232);
    background-color: black !important;
} */