input {
    width: 300px;
    height: 30px;
    margin: 10px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(236, 232, 232);
    background-color: black
}